<div id="post-{{postId}}" class="card">
    <img class="card-image" src={{thumbnail}} alt="Missing Image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p clas="card-text">{{postText}}</p>
        <a href="/post/{{postId}}" class="anchor-buttons">Post Details</a>
    </div>
</div>